:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaycolor:#1FB141;
  --tabs-active-color:#181818;
  --head-color:#000000;
  
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
img{
  vertical-align: inherit !important;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box ;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
li{
  list-style-type: none;
}

.sub_header{ padding-bottom: 14px;}
.why-menu{ position: relative;}
.right-menus-div01 .btn{ font-weight: 500;}
.why-menu::after{ position: absolute; content: ""; right: -8px;  top:4px; background: #EEEEEE; width: 2px; height: 32px;}
.sub_header .navbar{ background: var(--background); }
.sub_header .signing{ font-size: 16px; font-weight: 500; color: var(--foreground);}
.btn_signup{
  background: var(--primaycolor);
  color: var(--background) !important;
  width: 105px;
  border-radius: 7px;
  line-height: 25px;
  transition: all 0.5s;
}
.btn_signup:hover{
  background: var(--foreground);
}
.search_tops_divs{
  background: #fafafa;
  border-radius: 4px;
  height: 50px;
  border: solid 2px #bbbbbb0d;
}
/* listing page */
.sidebarsd_div{
  border-right: solid 1px #f6f6f6;
  min-height: 100vh;
}
.options_names input{
 position: absolute;
 opacity: 0;
 left: 0;
 right: 0;
 margin-left: 0 !important;
 float: none !important;
}

.cmout{
   border-radius: 10px;
   border: 1px solid #e5e5e5;
   padding: 5px 15px 8px 15px !important;
   margin-right: 11px;
   margin-bottom: 13px;
   cursor: pointer;
   margin-bottom: 11px !important;
   transition: all 0.5s;
}
.cmout:hover{
  border-color:#929292 !important;
}
.cmout label{
   cursor: pointer;
   display: flex;
   align-items: center;
}
.cmout label span{
  width: 28px;
  display: inline-block;
}
.cmout label span img{
  width: 23px;
  height: 23px;
}
/* listings */
.search_heading{
  font-weight: 600;
  color: var(--tabs-active-color);
  font-size: 20px;
}
.tabsd_divs .nav-link{
  font-weight: 500;
  color: #424242 !important;
  font-size: 18px;
}

.tabsd_divs .nav-tabs .nav-item.show .nav-link, 
.tabsd_divs .nav-tabs .nav-link.active{
  color: var(--tabs-active-color) !important;
  font-weight: 600;
  border: none;
}
.serach-div-home{
  background: #f7f7f7;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  width: 51%;
  height: 47px;
}
.serach-div-home .form-control{
  background: none;
  height: 41px;
  background: none;
  border: none;
  text-indent: 12px;
}
.serach-div-home .form-control:focus{
  box-shadow: none !important;
  border: none !important;
  background: none !important;
}
.btn-search-sder{
  border-left: solid 1px #d8d8d8 !important;
  border-radius: 0 !important;
  padding-top: 4px;
  margin-top: 3px;
}
.btn-search-sder:focus{
  box-shadow: none !important;
}
.nav-link{
  cursor: pointer;
  color: var(--tabs-active-color) !important;
  font-weight: 500;
}
.nav-link:hover{
  color: var(--primaycolor) !important;
}
.btn-signup01{
  background: var(--primaycolor) !important;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.5s;
  border-radius: 8px;
  padding: 10px 20px !important;
  color: var(--background) !important;
  cursor: pointer;
}
.btn-signup01:hover{
  background: var(--foreground) !important;
  color: var(--background) !important;
 
}
.sub_header .container-fluid{
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}
.sidebarsd_div {
  padding-left: 1.8rem;
  padding-right: 1.4rem;
}
.btn-next{
  background: var(--primaycolor) !important;
  color: var(--background) !important;
  border-radius: 6px !important;
  padding: 0 30px !important;
  height: 44px;
  font-weight: 600;
  font-size: 16px !important;
  transition: all 0.5s;
}
.btn-next:hover{
  background: var(--foreground) !important;
}
.btn-next svg,
.btn-pre svg{
  width: 20px;
  height: 20px;
}
.btn-next svg{
  margin-left: 8px;
}
.btn-pre svg{
  margin-right: 8px;
}
.btn-pre{
  border-radius: 6px !important;
  padding: 0 30px !important;
  height: 44px;
  font-weight: 600;
  transition: all 0.5s;
  font-size: 16px !important;
  color: #424242 !important;
  box-shadow: inset 0 0 0 2px #d8d8d8 !important;
  margin-right: 18px;
  transition: all 0.5s;
}
.btn-pre:hover{
  background: var(--foreground) !important;
  box-shadow: inset 0 0 0 2px var(--foreground) !important;
  color: var(--background) !important;
}
.icons-list{
  position: relative;
  min-height: 130px;
}
.svg-item::before{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  background-color: #F2F2F2;
  content: "";
  width: 100%;
  opacity: 0;
  transform: translate(0);
  transition: all 0.5s;
  height: 112px;
  border-radius: 3px;
}
.svg-item:hover::before{
   transform: scale(1);
   opacity: 1;

}
.icons-list:focus{
  box-shadow: none !important;
}
.icons-list span{
  display: inline-block;

}
.icons-list span svg{
  width: 40px;
  height: 40px;
}
.btn-load-more{
  text-decoration: underline !important;
  font-size: 14px;
}

.hover-divs {
  position: absolute;
  right: 15px;
  display: none;
  flex-direction: column;
  top: 15px;
  z-index: 2;
  opacity: 0;
  transition: all 0.5s;
}
.svg-item:hover .hover-divs{
  opacity: 0;
}
.btn-adds{
  background: #fff !important;
  border-radius: 8px !important;
  padding-top: 5px !important;
  padding-bottom: 8px !important;
}
.btn-downloads{
  background: var(--primaycolor) !important;
  border-radius: 8px !important;
  margin-top: 10px;
  padding-top: 5px !important;
  padding-bottom: 8px !important;
}
.btn-adds svg,
.btn-downloads svg{
  width: 15px;
  height: 15px;
}
.btn-adds:focus,
.btn-downloads:focus{
  box-shadow: none !important;
}
.main-divs .nav-tabs .nav-link{
  position: relative;
}
.main-divs .nav-tabs .nav-link::before{
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: var(--foreground);
  opacity: 0;
  transition: all 0.5s;
  content: "";
}
.main-divs .nav-tabs .nav-link:focus, 
.main-divs .nav-tabs .nav-link:hover{
  border-color: transparent !important;
}
.main-divs .tabsd_divs .nav-tabs .nav-item.show .nav-link, 
.main-divs .tabsd_divs .nav-tabs .nav-link.active{
  
}
.main-divs .nav-tabs .active::before{
  opacity: 1;
}

.home-menus .navbar-nav .nav-link{ padding-left: 16px !important; padding-right: 16px !important; position: relative;
}
/* .home-menus .navbar-nav .nav-link::before{
  position: absolute;
  left: 0;
  content: "";
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background: var(--foreground);
  top:50%;
  transform: translateY(-50%);
} */
.home-menus li.nav-item:first-child .nav-link::before{ display: none;}
.banner-parts01{background:#fff; height:518px; width: 100%;}


.banner-parts01 h2{ font-size: 46px; font-weight: 700; color: var(--head-color);}
.favi-icons ul{ list-style-type: none; padding: 0; margin: 0; }
.favi-icons ul li{ margin-right: 10px;  }
.btn-search{ background: var(--primaycolor) !important; color: var(--background) !important; display: flex !important;
  align-items: center; padding: 8px 25px !important; border-radius:0 5px 5px 0 !important;  transition: all 0.5s; height: 60px; }
.btn-search:hover{background: var(--foreground) !important;}
.btn-search:focus{box-shadow: none !important;}
.search-sections-home{ border-radius: 5px !important; height: 60px; border: solid 2px #E8E8E8; margin-top: 49px; }
.search-sections-home svg{ margin-left: 5px; }
.search-sections-home .form-control{ width: 82%; font-size: 16px; text-indent: 15px; border:none !important; }
.search-sections-home .form-control:focus{ box-shadow: none; }
.text-para1{ font-size: 24px; letter-spacing: -1px; font-weight: 500;}
.comon-head{ font-size: 46px; font-weight: 800; color: var(--head-color);}
.btn-expolre{ background: var(--primaycolor) !important; font-size: 18px;  padding: 10px 31px !important;  color: #fff !important; }
.about-sections{ padding: 70px 0;}
.fetures-acountins-sections{ padding: 70px 0; }
.tagsd{ position: absolute; background: var(--head-color); color: var(--background);
  border-radius: 50px;
  font-size: 16px;
  text-transform: uppercase;
  top: -20px;
  right: 20px;
  line-height: 36px;
  width: 72px;
  text-align: center;}
.fe-list li{
  border: solid 3px #E8E8E8;
  border-radius: 5px;
  padding: 8px 20px;
  width: 73%;
  margin-bottom: 15px;
}
.fe-list li:first-child{
  border: solid 3px var(--head-color);
}
.fe-list li .icoh{
  position: relative;
  top:7px;
}
.fe-list li h5{
  font-size: 17px;
  color: var(--head-color);
  font-weight: 600;
  
}
.fe-list li h5 small{
  color: #666666;
  font-weight: 400;
  font-size: 14px;
  margin-top: 3px;
}
.types-catg-sections{
  padding: 70px 0;
}
.categort-list01 > div:nth-child(odd) .comon-types01{
   background: var(--head-color);
}
.categort-list01 > div:nth-child(odd) .comon-types01 .titels-ts a{
   color: var(--background);
   width: 100%;
}
.sub-texr01{
  font-size: 20px;
  color: var(--head-color);
}
.categort-list01 .comon-types01 {
  border-radius: 8px;
  padding: 27px 15px 0;
  min-height: 310px;

}
.categort-list01 .titels-ts a{
  margin-bottom: 15px;
  display: inline-block;
}

.fe-list2 li {
  border: 2px solid #e8e8e8;
  border-radius: 5px;
  padding: 8px 20px;
  width: 20%;
  margin-bottom: 15px;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
}
.fe-list2 li  h5{
  font-size: 16px;
  font-weight: 500;
}
.btn-comon-socail{
  border: solid 3px var(--head-color) !important;
  border-radius: 7px;
  width: 400px;
  height: 51px;
  margin-bottom: 15px;
}
.btn-comon-socail:focus{
  box-shadow: none !important;
}
.btn-comon-socail span{
  margin-right: 7px !important;
}
.btn-comon-socail{
  font-size: 16px;
  font-weight: 600 !important;
  color: var(--head-color) !important;
}
.email-div01{
  margin-top: 50px;
}
.continue-btn{
  background: var(--primaycolor) !important;
  color: var(--background) !important;
  border-radius: 7px;
  width: 400px;
  height: 51px;
}
.continue-btn:hover{
  background: var(--head-color) !important;
  color: var(--background) !important;
}
.liast-listp span a{
  color: var(--head-color) !important;
}

.pricing-pages-part{
  
}
.pricing-pages-part .nav-link{
  font-size: 16px;
  color: var(--head-color);
  font-weight: 600;
  border: solid 1px #fff !important;
  border-radius: 0;
}
.pricing-pages-part .nav-tabs{
  border-bottom: solid 2px #E8E8E8 !important;
  width: 52%;
}
.pricing-pages-part .nav-tabs .nav-item.show .nav-link, 
.pricing-pages-part .nav-tabs .nav-link.active{
  border-bottom: solid 2px var(--head-color) !important;
}
.pricing-pages-part .table th{
  font-size: 20px;
}
.pricing-pages-part .table td{
   font-size: 18px;
   color: var(--tabs-active-color);
}
tbody, td, tfoot, th, thead, tr{
  border: none !important;
}
.months-div{
  border: solid 2px #181818 !important;
  padding:40px 28px 28px 28px !important;
  border-radius: 0 !important;
  min-height: 353px;
  text-align: center;
  position: relative;

}
.months-div .btn-upgrade{
  background: var(--head-color) !important;
  color: var(--background) !important;
  font-size: 14px;
  padding: 10px 30px 13px 30px !important;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 86%;
  margin: auto;
  margin-bottom: 30px;
  transition: all 0.5s;
}
.months-div .btn-upgrade:hover{
  background: var(--primaycolor) !important;
}
.months-div h2{
  color: var(--head-color);
  font-size: 30px;
  font-weight: 600;
}
.months-div h3 small{
  font-size: 20px;
  color: var(--tabs-active-color);
  font-weight: 400;
}
.vats-texts{
  font-size: 15px;
}
.faq-parts01{
  padding-top: 150px;
}
.faq-parts01 .accordion-button{
  font-size: 18px;
  color: var(--head-color);
}
.faq-parts01 .as-divbg p{
  font-size: 16px;
  color: var(--head-color);
}
.faq-parts01 .accordion-item{
  border: none !important;
  border-bottom: solid #E8E8E8 1px !important;
}
.faq-parts01 .accordion-button:focus{
  box-shadow: none !important;
}
.faq-parts01 .accordion-button:not(.collapsed){
  background: none !important;
  color: var(--head-color) !important;
}
.faq-parts01 .accordion-button:after{
  background-image: none;
  content: "+";
  transform: none !important;
  font-size: 23px;
}
.faq-parts01 .accordion-button:not(.collapsed):after{
  background-image: none;
  content: "-";
}
.btn-upgrade{
  background: #F3F3F4 !important;
  padding: 13px 30px !important;
  font-weight: 600 !important;
  color: var(--head-color);

}
.btn-upgrade span{
  margin-right: 5px !important;
}
.account-edits-mains ul{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-bottom: solid 1px #E8E8E8 !important; 
}
.account-edits-mains ul li{
  margin: 0 50px 0 0;
}
.account-edits-mains ul li a{
  text-decoration: none;
  color: var(--head-color) !important;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 0;
  display: inline-block;
}
.form-section-parts01 .form-label{
  font-size: 18px;
  font-weight: 600;
  color: var(--head-color);
}
.form-section-parts01 .form-group{
  margin-bottom: 15px !important;
  display: inline-block;
  width: 100%;
}
.form-section-parts01 .form-control{
  border: solid 3px var(--head-color) !important;
  height: 52px;
}
.form-section-parts01 .btn-updates{
  background: var(--head-color) !important;
  color: var(--background) !important;
  width: 100%;
  height: 55px;
}
.comon-footers-div01 h5{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
@media (width >= 992px) {
  .fetures-acountins-sections .container{
    max-width: 1010px;
  }
  .comon-short-parts .container{
    max-width: 1010px;
  }
  .cn-news{
    max-width: 1265px;
  }
}
@media (width >= 1400px) {
  .fetures-acountins-sections .container{
    max-width: 1200px;
  }
  .comon-short-parts .container{
    max-width: 1200px;
  }
}

.page-headings01{
  font-weight: 600;
  color: var(--tabs-active-color);
  font-size: 22px;
}
.btn-all-links{
  color: var(--tabs-active-color);
  font-size: 16px;
}
.btn-all-links svg{
  color: var(--primaycolor);
  margin-left: 10px;
}
.btn-all-links:hover{
  color: var(--primaycolor) !important;
}
.btn-arows{
  background: var(--primaycolor) !important;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  overflow: hidden;
  padding: 0 !important;
  text-align: center;
  display: inline-block;
  line-height: 27px !important;
}
.btn-arows:hover{
  background: var(--foreground) !important;
}
.btn-arows:focus{
  box-shadow: none !important;
}
.comon-types01{
  border: solid 1px #E8E8E8;
  border-radius: 8px;
  padding: 40px 15px 0 15px;
  min-height: 310px;
}
.icon-list-name{
  margin-top: 35px;
}
.comon-types01 h5{
  font-weight: 500;
  font-size: 16px;
  color: var(--head-color);
}
.comon-types01 h5 a{
  color: var(--head-color);
  font-weight: 600;
  text-transform: capitalize;
}
.coun-text{
  font-weight: 400;
  color: var(--head-color);
  text-decoration: none;
  font-size: 15px;
}
.comon-types01 h5 a{
  color: var(--tabs-active-color);
  text-decoration: none;
}
.comon-types01 h5 small{
  font-weight: 300;
  color: #B5A9A9;
  margin-top: 6px;
}
.tops-icons-sections{
  padding: 80px 0;
}
.comonins-category01{
  border: solid 2px #EADBDB;
  border-radius: 8px;
  padding: 15px;
  width: 93%;
}
.btn-groups01{
  border: solid 1px #EADBDB;
  border-radius: 50px;
  padding: 5px;
  position: relative;
}
.btn-groups01 .btn{
  font-size: 14px;
  font-weight: 500;
  color: var(--tabs-active-color);
  border-radius: 50px;
  width: 48%;
  position: relative;
  z-index: 1;
}
.comonins-category01 h5 {
  font-size: 19px;
  font-weight: 600;
  color: var(--tabs-active-color);
}
.comonins-category01 h5 small{
  font-weight: 300;
  font-size: 14px;
  color: #B5A9A9;
  margin-bottom: 8px;
}
.comonins-category01 p{
  font-weight: 400;
  font-size: 15px;
}
.cl1{
  width: 48%;
  background: var(--primaycolor) !important;
  border-radius: 50px;
  height: 36px;
  transition: transform 0.5s;
  text-align: center;
  color: var(--background) !important;
  line-height: 25px !important;
}
.cln{
  width: 48%;
  background: var(--primaycolor);
  border-radius: 50px;
  height: 36px;
  transition: transform 0.5s;
  line-height: 25px !important;
}
.cln:hover{
  background: var(--tabs-active-color) !important;
  color: var(--background) !important;
}

footer{
  background: var(--tabs-active-color);
  padding: 85px 0 0;
}
.solic-list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.solic-list li{
  margin-right: 10px;
}
.comon-links{
  list-style-type: none;
  font-size: 18px;
  color: var(--background) !important;
  transition: all 0.5s;
}
.solic-list a svg{
  width: 25px;
}
.ft-paras{
  font-weight: 300;
  font-size:14px;
}
.comon-links li a{
  list-style-type: none;
  font-size: 14px;
  color: var(--background) !important;
  transition: all 0.5s;
  font-weight: 200 !important;
  text-decoration: none;
  padding-bottom: 13px;
  display: inline-block;
}
.copy-text1{
  font-weight: 300;
  font-size:15px;
  list-style-type: none;
}
.copy-text1 a{
  color: var(--background) !important;
  text-transform: none !important;
  text-decoration: none;
}
footer hr{
  background: var(--background) !important;
}
.comon-links li a:hover{
  color: var(--primaycolor) !important;
}
.copy-text a{
  color: var(--background) !important;
  text-decoration: none !important;
  font-size: 14px;
  display: inline-block;
  margin-right: 20px;

}
.copy-text a::marker{
  display: none !important;
}
.copy-text{
  list-style-type: none !important;
}
.whats-news{
  padding: 60px;
}
.whats-news .container{
  background: #ECECEC;
  padding: 60px;
  border-radius: 10px;
}
.whats-news ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.whats-news ul li{
  text-transform: uppercase;
  color: #151515;
  border: solid 1px #dadada !important;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 20px;
  margin-right: 15px;
}
.btn-downalod{
  background: var(--primaycolor) !important;
  color: var(--background) !important;
  padding: 10px 25px !important;
}
.btn-downalod:hover{
  background: var(--tabs-active-color) !important;
}
.whats-news h2{
  font-weight: 700;
  color: var(--tabs-active-color);
}
.btn-explores{
  font-weight: 600;
}
.btn-explores svg{
  color: var(--primaycolor) !important;
}
.register-sections .container{
  background: var(--primaycolor) url(/bg-righ.png) no-repeat center top;
  border-radius: 10px;
  min-height: 280px;
  display: grid;
  align-content: center;
  margin-bottom: 100px;
  margin-top: 100px;
}
.btn-signuop-01{
  background: var(--background) !important;
  color: var(--tabs-active-color) !important;
  padding: 10px 25px !important;
  width: 150px;
  font-weight: 600 !important;
  margin: auto;
}
.rockty{
  position: absolute;
  top:20px;
  margin-left: auto;
  right:20%;
}
.loading-animations{
  width: 100%;
  display: inline-block;
}
.icon-btn{
  background: #f3f3f4 !important;
  width: 50px;
  height: 50px;
  border-radius: 50px !important;
  display: inline-block !important;
  text-align: center;
  line-height: 33px !important;
  transition: all 0.5s;
}
.icon-btn:hover{
  box-shadow: none !important;
}
.details-homes-nav .container{
  border-bottom: solid 1px #f5f5f5;
  padding-bottom: 18px;
}
.details-body-parts{
  padding-top: 20px;
}
.details-body-parts .breadcrumb{
  margin-bottom: 20px;
}
.bercrums .breadcrumb-item a{
  color: var(--head-color);
}
.breadcrumb-item + .breadcrumb-item:before{
  color: var(--head-color) !important;
}
.icon-headings{
  color: var(--head-color);
  font-size: 28px;
  margin-bottom: 12px;
  font-weight: 700;
}
.blox-icons-div01{
  background: #F3F3F4;
  padding:10px 25px;
}
.svgimg01{
  text-align: center;
}
.comon-groups-div01 h5{
  font-size: 17px;
  font-weight: 500;
  color: var(--head-color);
  display: inline-block;
  width: 159px;
  
}
.input-divs{
  width: 90%;
}
.comon-groups-div01{
  margin-bottom: 23px;
}
.svg-codeoff{
  visibility:hidden;
}
.svg-lisuy{
  position: absolute;
  left: 0;
  right: 0;
  top:0;
}
.blox-icons-div01{
  position: relative;
  z-index: 2;
  min-height: 458px;
  display: grid;
  align-content: center;
  border: solid 2px #f5f5f5;
}
.btn-copy01{
  background: var(--head-color) !important;
  color: var(--background) !important;
  padding: 10px 30px !important;
}
.crm-btn01{
  margin-right: 0;
  border: 2px solid #f3f3f3 !important;
  width: 31%;
  border-radius: 10px !important;
}
button.btn.btn-sec.ms-3 {
    background: #f1f1f1;
    color: #000;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 600;
}
button.btn.btn-sec.ms-3 svg{
  fill: #000000 !important;
}

.style-list {
    font-size: 15px;
}
.style-list svg{
  width: 30px;
  height: 30px;
}
.svgimg01 svg{
  width: 250px;
  height: 250px;
}
.svgimg02{
  text-align: center;
}
.icn-list05{
  position: absolute;
  top:20px;
  width: 130px;
  height: 50px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #e7e7e782;
  padding-left: 15px !important;  
  cursor: pointer;
}
.icn-list05 .form-control{
  padding: 0;
  border-radius: 50px;
  overflow: hidden;
  width: 130px;
  height: 100%;
  display: inline-block;
  position: absolute;
}
.icn-list05 .form-control:focus{
  box-shadow: none !important;
}
.btn-comons01:focus,
.btn-comons01:active{
  box-shadow: none !important;
  background: var(--head-color) !important;
  color: var(--background) !important;
  border-radius: 5px !important;
}
.styles-icons-div{
  margin-top: 100px;
}
.styles-icons-div h4{
  font-size: 19px;
  color: var(--head-color);
}
.comon-rows .svg-item .btn{
  margin: auto;
  display: block;
  margin-bottom: 50px;
}
.comon-rows .svg-item .btn:focus{
  box-shadow: none;
}
.sub-titels-h1{
  border-bottom: solid 1px #E8E8E8;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.crm-tagsd{
  list-style-type: none;
}
.crm-tagsd .btn{
  background: #F3F3F4 !important;
  font-size: 14px;
  margin-right: 12px;
  border-radius: 5px;
  padding: 9px 20px;
  transition: all 0.5s;
}
.crm-tagsd .btn:hover{
  background: var(--head-color) !important;
  color: var(--background) !important;
}
.listing-pages{
  padding-top: 120px;
}
.pricing-pages-part{
  padding-top: 90px;
  padding-bottom: 80px;
}
.search-listings01{
  color: var(--head-color);
}
.serch-data{
  color: var(--head-color);
  font-weight: 700;
}
.register-pages-crm{
  padding-top: 120px;
  padding-bottom: 70px;
}
.comon-heading-sub{
  color: var(--head-color);
  font-weight: 600;
  font-size: 46px;
}
.register-pages-crm .sub-para{
  font-size: 18px;
  color: var(--head-color);
}
.register-pages-crm .sub-para a{
  color: var(--head-color);
}
.register-pages-crm .sub-para a strong{
  font-weight: 500;
  color: var(--head-color);

}

.comon-rgesigner-sections .form-control{
  border: solid var(--head-color) 3px;
  height: 52px;
}
.comon-rgesigner-sections .form-control:focus{
  box-shadow: none;
  border: solid var(--primaycolor) 3px;
}
.comon-rgesigner-sections .form-label{
   font-weight: 600;
   color: var(--head-color);
   font-size: 17px;
}
.style-list01{
  padding-left: 18px;
  font-weight: 500;
  color: #838383;
}
.svgimg02{
  display: inline-block;
}
.style-list01{
  font-size: 17px;
}
.trending-icons{

}
.lis-icou-page05{
  margin-top: 80px;
}
.cmg-heading{
  font-size: 36px;
}
.search-sections-home .form-control input{
  border: none !important;
  width: 100%;
  background: none !important;
}
.search-sections-home .form-control input:focus{
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.p-autocomplete-items-wrapper{
  box-shadow: 1px 2px 10px #b5a9a95e;
  background: #fff !important;
  border-radius: 5px;
  padding-top: 15px;
  padding-left: 0;
  max-height: 300px !important;
}
.p-autocomplete-item {
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  margin-bottom:4px !important;
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.p-autocomplete-item:hover{
  background: #efefef;
}
.p-autocomplete-items{
  padding: 0;
  margin: 0;
}
.p-autocomplete-panel{

}
.cm-o{
  position: absolute;
}
.cmon-ic2{
  right: 0;

}
.cmon-ic3 {
  right: 150px;
  top: -70px;
}
.cmon-ic3 img{
  width: 80%;
}
.cmon-ic5{
  top: -60px;
  left: 60px;
}
.cmon-ic1{
  right: 0;
  bottom: 0;
}
.cmon-ic4{
  bottom: 0;
  left: 20px;
}
.sub-banners{
  background: #f3f3f3 url(/cates-ban.svg) no-repeat;
  border-radius: 7px;
  margin-top: -30px;
  background-size: cover !important;
  background-position: center;
  width: 100%;
  height: 260px;
}

.sub-banners h2{
  font-size: 36px;
  font-weight: 800;
  color: var(--head-color);
  margin-top: 33px;
}
.home01-links svg{
  width: 25px;
  height: 25px;
  transition: all 0.5s;
}
.home01-links:focus,
.home01-links:active{
  box-shadow: none !important;
}
.home01-links:hover svg{
  fill: var(--primaycolor) !important;
}
.home01-links:hover:focus{
  box-shadow: none !important;
}
.details-coderyt{
  margin-bottom: 150px;
}
.options_names{
  list-style-type: none;
  gap: 10px;
}
.ft-scol{
  color:var(--background) !important;
}
.ft-scol svg{
  fill:var(--background) !important;
}
.ft-scol:hover svg{
  fill:var(--primaycolor) !important;
}
.types-catg-sections .row > div.col:nth-child(4){
  display:none;
}
.search-listings01{
  text-transform: capitalize;
}
.svg-item .icons-list{
  height: auto;
  margin-bottom: 5px;
  display: inline-block;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  display: grid;
  align-items: center;
  margin-top: -8px;
}
.relatesd svg {
  width: 40px;
  height: 40px;
  margin: auto;
  display: block;
}
.relatesd .btn{
  height: 70px;
  display: grid;
  align-content: center;
}
.relatesd .svg-img{
  align-content: center;
}
.relatesd .icons-list:hover::before {
  opacity: 1;
}
.sub-banners{
  background: #f3f3f3;
  border-radius: 7px;
  margin-top: -30px;
}
.sub-banners .container{

}
.sub-banners h2{
  font-size: 36px;
  font-weight: 800;
  color: var(--head-color);
}
@media (width >= 1200px) {
  .comon-rows .row > div.col {
      flex: none;
      width: 9.6667% !important;
  }
  .comon-rows .svg-item svg{
    width: 60px;
    height: 60px;
    margin: auto;
    display: block;
    text-align: center;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (width >= 1200px) {
  .main-divs .tab-content .row-cols-xl-6 > * {
      width: 13.6667%;
  }
}

@media (width >= 992px) {
  .tabsd_divs .row-cols-lg-6 > * {
    flex: none;
    width: 12.4%;
    height: 64px;
    /* display: grid
; */
    /* align-content: center; */
    /* background: red; */
    overflow: hidden;
    margin-bottom: 18px;
    position: relative;
  }
  .t-ind-icons .row-cols-lg-6 > * {
    flex: none;
    width: 9.4%;
    height: 74px;
    margin-right: 0 9px;
}
  .relatesd .row-cols-lg-6 > * {
    flex: none;
    width: 9.4%;
    height: 74px;
    margin-right: 0 9px;
  }
}
.p-autocomplete .p-autocomplete-loader {
  display: none !important;
}

.options_names .form-check-input:checked + label.form-check-label{
	background: #000 !important;
	color: #fff !important;
}
.loading-animations{
  width: 98%;
}

.new-filter-05 .cmout{
     border-radius: 0;
    border:none;
    margin-right: 0;
    margin-bottom: 0;
    cursor: default;
    padding: 0 !important;
    margin-bottom: 0 !important;
}
.new-filter-05 .cmout .form-check-label{
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  margin-right: 11px;
  cursor: pointer;
  transition: all .5s;
  font-size: 13px;
  padding: 6px 12px 6px 20px !important;
  margin-bottom: 0 !important;
  font-weight: 400;
  position: relative;
}
.new-filter-05 .cmout .form-check-label::before{
  position: absolute;
  content: "\2713";
  color: transparent;
  font-size: 14px;
}
.new-filter-05 .form-check-input:checked + label.form-check-label::before{
  position: absolute;
  content: "\2713";
  color: #fff !important;
  font-size: 14px;
  left: 6px;
}
.moreb{
  border-radius: 10px !important;
  border: 1px solid #e5e5e5 !important;
  margin-right: 11px;
  margin-bottom: 13px;
  cursor: pointer;
  transition: all .5s;
  font-size: 13px !important;
  padding: 6px 12px 6px 12px !important;
  margin-bottom: 11px !important;
  font-weight: 400;
  position: relative;
}
.moreb:hover{
  background: var(--head-color) !important;
  color: var(--background) !important;
}
.show-list04 > div:first-child article .coun-text,
.show-list04 > div:first-child article h5 a{
  color: var(--background) !important;
}

.show-list04 > div:nth-child(3) article .coun-text,
.show-list04 > div:nth-child(3) article h5 a{
  color: var(--background) !important;
}

/* .cate-list-hide > li{
   display: none;
}  */
/* .cate-list-hide > li:first-child,
.cate-list-hide > li:nth-child(1),
.cate-list-hide > li:nth-child(2),
.cate-list-hide > li:nth-child(3),
.cate-list-hide > li:nth-child(4),
.cate-list-hide > li:nth-child(5),
.cate-list-hide > li:last-child{
  display: inline-block !important;
}  */
.btn-mores-btn{
  background: var(--primaycolor) !important;
  border: solid var(--primaycolor) !important;
}
.btn-mores-btn:hover,
.btn-explore:hover{
  background: var(--head-color) !important;
  border: solid var(--head-color) !important;
}
.btn-explore{
  background: var(--head-color) !important;
  border: solid var(--head-color) !important;
  padding: 10px 31px !important;
  color: var(--background) !important;
}

.icn-list05 .form-control{
  opacity: 0;
}
.icn-list05 svg{
  width: 25px;
  height: 25px;
  position: absolute;
  left: 10px;
  right: 0;
  pointer-events: none;
}
.icn-list05 span{
  padding-left: 8px;
}
.right-details-lis01{
  width: 90%;
  margin-left: auto;
}
.input-divs .form-select{
  border: 2px solid #efefef;
  font-size: 16px;
  height: 52px;
}
.input-divs .form-select:focus{
  box-shadow: none;
}
.codet{
  color: var(--tabs-active-color);
  height: 146px;
  overflow: hidden;
  font-size: 15px;
  overflow-y: auto;
}
.codet.bg-light01{
  background: #f6f7f8;
  height: 170px;
  overflow: hidden;
  border-radius: 15px !important;
  padding: 16px !important;
}
.btn-shares{
  background: #f3f6f8 !important;
  border: solid #f3f6f8 !important;
  padding: 8px 14px !important;
  text-align: center;
  color: var(--tabs-active-color) !important;
  font-weight: 600;
  font-size: 15px;
  width: auto !important;
}
.btn-shares svg{
  fill: var(--tabs-active-color) !important;
  width: 22px;
  height: 22px;
}
.btn-shares:focus{
  box-shadow: none !important;
}
.btn-copsy{
  background: var(--head-color) !important;
  border: solid var(--head-color) !important;
  padding: 10px 31px !important;
  color: var(--background) !important;
}

.new-icons-bm{
  display: grid;
  grid-template-columns: 112px 112px 112px 112px 112px 112px;
  gap: 24px;
  justify-content: space-between;
}

.new-icons-bm-bg{
  display: grid;
  grid-template-columns: 74px 74px 74px 74px 74px 74px 74px 74px 74px 74px;
  gap: 24px;
  justify-content: space-between;
}

.sub-listu-div01 .search-sections-home{
  width: 100%;
  margin-bottom: 28px;
}
.bg-light01{
  background: #e7e7e7;
}
.sub-banners{
  background: url(/cates-ban.svg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 260px;
}
.no-found-div{
  position: absolute;
  left: 0;
  right: 0;

}
.cololi-list li:last-child{
  display: none;
}
.lice-text{
  font-weight: 600 !important;
  font-size: 15px;
}
.list-on0-div{
  margin-top: 20px;
}
.list-on0-div .crm-tagsd .btn {
    font-size: 13px;
    margin-right: 4px;
    border-radius: 5px;
    padding: 7px 17px;
    transition: all .5s;
    background: #f3f3f4 !important;
    font-weight: 600 !important;
}
.list-on0-div .crm-tagsd .btn:hover{
  background: var(--foreground) !important;
  color: var(--background) !important;
}
.list-on0-div .crm-tagsd .btn:focus{
  box-shadow: none !important;
}
@media(min-width:1400px){
  .right-details-lis01{
    width: 66%;
  }
}

/* search  */

.p-autocomplete-panel {
  /* min-width: 744px !important; */
  min-width: 57% !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto;
  width: 50%;
}
.p-autocomplete-items-wrapper{
  top: 18px !important;
  position: relative;
}
.d-table svg {
  width: 100% !important;
  height: 100% !important;
  max-width: 100%;
  max-height: 100%;
}

.main-divs .p-autocomplete-panel {
  left: 30px !important;
}

.comon-content-div{
  padding-top: 120px;
}
.forms-contacts .form-group{
  margin-bottom: 15px;
}
.forms-contacts .form-group label{
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.forms-contacts .form-group .form-control{
  border-radius: 5px;
  border: solid 3px #181818 !important;
  height: 50px;
}
.forms-contacts .form-group textarea.form-control{
  height: 140px;
  resize: none;
}
.forms-contacts .css-13cymwt-control{
  border: solid 3px #181818 !important;
  height: 50px;
}
.forms-contacts .btn-send{
  background: #181818;
  width: 100%;
  height: 55px;
  border-radius: 5px;
  color: #fff !important;
}
.comon-content-div p{
  font-size: 18px;
  color: var(--head-color);
  font-weight: 500;
}

.comon-content-div .accordion-button{
  border-bottom: solid 1px #E8E8E8;
  background: #fff;
  font-size: 18px;
  color: var(--head-color);
  font-weight: 500;
  padding-left: 0;
}
.comon-content-div .accordion-button:focus{
  box-shadow: none !important;
  
}
.comon-content-div .accordion-item{
  border: none !important;
}
.comon-content-div .accordion-item p{
  font-size: 16px;
  font-weight: 400;
}
.comon-content-div .accordion-body{
  padding-left: 0;
}
.comon-content-div .accordion-button:not(.collapsed){
  background: none !important;
  color: #181818 !important;
}

.have-text{
  font-size: 14px !important;
  font-weight: 400;
}
.have-text a{
  text-decoration: underline !important;
  color: var(--head-color) !important;
  font-size: 16px !important;
}
.comon-cont-head{
  font-weight: 600;
  color: var(--head-color);
  font-size: 46px;
}
.privacy-page{
  padding-top: 120px;
  padding-bottom: 70px;
}
.privacy-page h5{
  font-weight: 600;
  color: var(--head-color);
}

.privacy-page p{
  font-weight: 400;
  color: var(--head-color);
  font-size: 16px;
}
.sapce-bm{
  padding-bottom: 80px;
}

.as-divbg .accordion-button{
  font-weight: 600;
}

.text-caraole-divb h2{
  font-weight: 700;
  color: var(--head-color);
  font-size: 46px;

}
.text-caraole-divb p{
  font-size: 18px;
  color: #181818;
}

.text-caraole-divb p{
  font-size: 18px;
  color: #181818;
}
.tops-sections01{
  padding-top: 50px;
}
.next-why{
  padding:80px 0;
}
.comon-list01 h3{
  font-size: 21px;
  font-weight: 600;
  color: var(--head-color);
  display: flex;
  align-items: start;
}
.comon-list01 h3 span{
  margin-right:10px;
  color: var(--primaycolor);
  font-size: 30px;
  font-weight: 700;
}
.darsk-sections{
  background: var(--head-color);
  padding: 60px 0;
}
.btn-st-bn{
  background: #fff !important;
  color: var(--head-color) !important;
  padding: 10px 31px !important;
}
.contents-div h3,
.value-sections h3{
  font-weight: 700;
  font-size: 46px;
}
.value-sections{
  padding: 60px 0;
}
.value-sections h3{
  color: var(--head-color);
}
.comon-crads h4{
  color: var(--head-color);
  font-size: 21px;
  font-weight: 700;
}

/* canvas part csss */

.canvas-main-part{
  background: #F8F8F8;
  padding: 0;
  min-height: 100vh;
}
.filerts-divs{
  min-height: 100vh;
  position: fixed;
  width: 350px;
  top:0;
  right: 0;
}
.filerts-divs{
  background: #fff !important;
}
.tect-list{
  font-size: 41px !important;
}
.blox-icons-div01 svg filter{
  width: inherit !important;
  height: inherit !important;
}
.trust01{
  text-decoration: underline !important;
}
@media(min-width:1266px){
  .right-details-lis01{
    width: 95%;
    padding-right: 15px;
  }
  .buttons-group01 .btn-shares,
  .buttons-group01 .btn-copsy{
    width: 40%;
  }
}
.buttons-group01 .btn-shares,
.buttons-group01 .btn-copsy{
  width:46%;
  border-radius: 8px;
  font-weight: 600;
}
.buttons-group01 .btn-shares,
.buttons-group01 .btn-copsy{
  width: 46%;
}
.drop-divu{
  min-width: 13rem !important;
}


.facebook-btn{
  background: #1877f2 !important;
  color: #fff !important;
  border-radius: 4px !important;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.facebook-btn svg{
  margin-right: 5px;
}
.facebook-btn:focus{
  box-shadow: none !important;
}


.twitter-btn{
  background: #000 !important;
  color: #fff !important;
  border-radius: 4px !important;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.twitter-btn svg{
  margin-right: 5px;
}
.twitter-btn:focus{
  box-shadow: none !important;
}

.svg-bn{
  background: #000 !important;
  color: #fff !important;
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 46px;
  border: solid 2px #000 !important;
}
.svg-bn svg{
  margin-right: 4px;
  position: relative;
  top:-2px;
}
.svg-bn:focus{
  border-radius: 10px !important;
}



.png-bn{
  background: #feb602 !important;
  color: #000 !important;
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 46px;
  border: solid 2px #feb602 !important;
}
.png-bn svg{
  margin-right: 4px;
  position: relative;
  top:-2px;
}
.png-bn:focus{
  border-radius: 10px !important;
}

.comon-groups-div01 .form-select:focus{
  border: solid 2px var(--primaycolor);
}


.pinterest-btn{
  background: #cb2027 !important;
  color: #fff !important;
  border-radius: 4px !important;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.pinterest-btn svg{
  margin-right: 5px;
}
.pinterest-btn:focus{
  box-shadow: none !important;
}
.icon-cate{
  background: url(/banner-img.jpg) no-repeat;
}

.menu-mobil{
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--head-color);
}
.menu-mobil li a{
  font-size: 17px;
}
@media(max-width:910px){
  .banner-parts01 h2,
  .comon-head{
    font-size: 25px;
  }
  .fe-list li{
    width: 100%;
  }
}

.svg-item{
  display: inline-block;
  height: 74px;
  border: solid 1px #ebebeb;
  padding-top: 0;
  box-shadow: 0 1px 3px rgb(0 0 0 / 4%), 0 1px 2px rgb(0 0 0 / 5%);
  background: var(--background);
}
.svg-item{
    overflow: hidden;
    height: inherit;
}
.svg-item .icons-list {
    /* display: inline-block; */
    min-height: inherit;
    height: 75px;
    margin-top: -0;
}
.btn img {
    object-fit: contain;
    width: 100%;
    height: 100% !important;
    position: relative;
    z-index: 1;
}
/* .svg-item:hover:before img{
    filter: b;
} */
.svg-item::before {
    z-index: -1;
}
.comon-cate-list .new-icons-bm{
    grid-template-columns: 82px 82px 82px 82px 82px 82px 82px 82px 82px 82px;
    grid-gap: 22px;
}

.tabsd_divs .new-icons-bm .btn img{
    object-fit: contain;
    width: 75% !important;
    height: 75% !important;
    position: relative;
    z-index: 1;
    margin: auto;
    text-align: center;
}
.cmr-details01{
    box-shadow: #ebeaea 1px 2px 20px;
    border-radius: 15px;
    padding: 30px;
}
.cmr-details01 .blox-icons-div01{
  border: none !important;
}
.blox-icons-div01{
    border-radius: 15px;
    width: 95%;
    justify-content: center;
    margin: auto;
    margin-top: 4px;
}
.user-icons-list08 h6{
  font-size: 16px;
}
.user-nams01{
  width: 35px;
  height: 35px;
  border-radius: 50px;
  overflow: hidden;
  display: inline-block;
  margin-right: 10px;
  
}
.user-nams01 img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.customize-sctions01 h5{
  font-size: 16px;
  font-weight: 600;
}
.bodret-details012{
    border: 2px solid rgb(239, 239, 239);
    border-radius: 4px;
    padding: 7px 5px 0px;
    height: 42px;
}
.bodret-details012 .form-control{
  transform: scale(.8);
  border: none !important;
  padding: 0 !important;
  width: 30px;
}
.bodret-details012 .form-control:focus{
  box-shadow: none;
}
.btn-download015{
  background: var(--primaycolor) !important;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 8px !important;
  font-weight: 600 !important;
  padding: 10px 31px !important;
  color: var(--background) !important;
  font-size: 15px !important;
}
.btn-download015:focus{
  box-shadow: none !important;
}
.btn-download015 svg{
  width: 18px;
  height: 18px;
  margin-right: 8px;
  color: #fff;
}
.varitions-div{
  padding-left: 20px;
}

.btn-zoom{
    width: 40px;
    padding: 0;
    height: 40px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.btn-zoom svg{
    position: relative;
    top: -2px;
    left: -2px;

}
.btn-zoom:focus{
  box-shadow: none !important;
}

.tabs-newd.nav-tabs .nav-item.show .nav-link, 
.tabs-newd.nav-tabs .nav-link.active{
  border: solid 1px transparent !important;
  border-bottom: solid 2px var(--primaycolor) !important;
}
.tabs-newd.nav-tabs .nav-link:hover{
  border: solid 1px transparent !important;
  border-bottom: solid 2px var(--primaycolor) !important;
}
.tabs-newd.nav-tabs .nav-item{
  margin-right: 12px;
}


.icon-detail {
 margin-top: 30px;
 & li {
  margin-bottom: 15px;
}
}
 
 
.iconbadge {
  background-color: #f3f4f8;
  border-radius: 10px;
  padding: 2px 6px;
  margin: 4px;
}
 
.inputtype input{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  &:nth-child(1){
    margin: 0;
  }
}
 
.inputColor-ul h5 {
  margin-top: 30px;
  font-weight: 700;
}
 
.inputColor-ul input {
  margin-top: 20px;
}
 
.morebyicons {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background-color: #f2f4f6;
}
 
.detail-right h6 {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
}
 
.morearrow {
  float: right;
}
 
.detail-input-comment {
  background-color: #f3f4f6;
  border: none;
  outline: none;
  padding: 12px 25px;
  border-radius: 12px;
  margin-bottom: 50px;
}
 
.detail-share-icon {
  margin-block: 30px;
}
 
.detail-share-icon svg {
  margin-left: 10px;
 
  &:nth-child(1) {
    margin: 0;
  }
}
 
 
.icon-carousel{
  background-color: #f5f8f8;
height: 100px;
border-radius: 8px;
}
 
 
.icon-variations{
  padding: 0px;
  & li{
    margin-top: 20px;
  }
}
.see-all-variations{
  margin-top: 20px;
  color: inherit;
  text-decoration: none;
  float: right;
    margin-right: 37px;
}
 
 
.licenseinfo{
  padding: 0;
margin-bottom: 4rem
}
.licenseinfo li{
  margin-top: 20px;
}
 
 
.icon-details-page{
  text-decoration: none;
  color: inherit;
}
 
footer{
  margin-top:100px
}
.slick-next {
    right: -22px !important;
}
.slick-next:before, .slick-prev:before{
    font-size: 25px !important;
    color: #1fb141 !important;
}
.navbar-toggler:focus{
  box-shadow: none !important;
}

.mobile-menus01 .nav-link{
  text-align: center;
  font-size: 22px;
  padding: 20px 0;
}
.socal-linksa{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 40px;
}
.home01-links svg{
  width: 30px;
  height: 30px;
}
.mobile-menus01{
  padding-top: 70px;
}
.close-menu {
    border: none;
    color: var(--head-color);
    background: none !important;
    position: absolute;
    right: 21px;
    top: 10px;
    opacity: 1 !important;
}
.close-menu svg{
  width: 25px;
  height: 25px;
  position: relative;
  top:10px;
}
.trust01-div{

}

.about-sections{

}
@media(max-width:1180px){
}
@media(max-width:1024px){
}
@media(max-width:910px){
  .about-sections img,
  .about-sections img{
    width:100% !important;
    height: auto !important;
  }
  .sub-banners h2{
    font-size: 25px;
  }
}
@media(max-width:768px){
}
@media(max-width:668px){

}
@media(max-width:480px){
  .right-menus-div01{
    display: none !important;
  }
  
  .copy-text1 {
    font-weight: 300;
    font-size: 12px;
    list-style-type: none;
  }
  .banner-parts01 h2, .comon-head {
        font-size: 23px;
  }
  .search-sections-home{
    width: 95%;
  }
  .fb-icon svg{
    width: 18px;
    height: 18px;
  }
}